# Ejemplo de variables de entorno para Mirador Illari

# Django
DJANGO_SECRET_KEY=COLOCA_TU_SECRET_KEY
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL
DB_NAME=mirador_illari
DB_USER=illariuser
DB_PASSWORD=COLOCA_TU_PASSWORD
DB_HOST=localhost
DB_PORT=5432

# Gemini API
GEMINI_API_KEY=COLOCA_TU_API_KEY

# Modelo utilizado por el chatbot
GEMINI_MODEL_NAME=gemini-3.6-flash